@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pattern Blank Regular';
  src: url('../src/assets/fonts/PatternBlank-Regular.woff') format('truetype'); /* Use woff/woff2 if available */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pattern Blank Bold';
  src: url('../src/assets/fonts/PatternBlank-Bold.woff') format('truetype'); /* Use woff/woff2 if available */
  font-weight: bold;
  font-style: normal;
}

